* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: gray;
  height: 100vh;
  /* display: flex;
    align-items: center;
    justify-content: center; */
  position: relative;
}

.job-appl {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  height: 100vh;
  max-width: 900px;
  border-radius: 12px;
  background-color: #eee;
  padding: 10px 40px;
  overflow: auto;
}

.job-appl-header h1 {
  font-size: 57px;
}

.job-appl-header span {
  font-size: 36px;
  color: #1d57c3;
}

.job-appl-form {
  margin: 50px 0;
}

.job-appl-form-row {
  display: flex;
  gap: 50px;
  margin-bottom: 20px;
  width: 100%;
}

.job-appl-form-col {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.job-appl-form-col input,
.job-appl-form-col textarea,
.job-appl-form-col select {
  padding: 6px 10px;
  border-radius: 4px;
  border: 1px solid black;
  font-size: 15px;
}

.job-appl-form-col label {
  font-weight: 700;
  margin-bottom: 10px;
}

.job-appl-form-col1 {
  flex: 0 0 100%;
}

.job-appl-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.job-appl-footer button {
  background-color: red;
  color: #eee;
  padding: 5px 10px;
  font-size: 28px;
  border: transparent solid 2px;
  border-radius: 10px;
}

.job-appl-footer button:hover {
  background-color: #ccc;
  border: 2px solid red;
  color: black;
  transition: 0.3s ease-out;
}

@media screen and (max-width: 768px) {
  .job-appl {
    width: 100%;
    padding: 10px;
  }

  .job-appl-header h1 {
    font-size: 30px;
  }

  .job-appl-header span {
    font-size: 24px;
  }

  .job-appl-form-row {
    flex-direction: column;
    gap: 0px;
    margin-bottom: 0px;
  }
  .job-appl-form-col {
    margin-bottom: 15px;
  }

  .job-appl-footer button {
    font-size: 18px;
  }
}
